/* ======= Global Styles ======= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    color: #f1f1f1;
    /* Light text for contrast */
    min-height: 100vh;
    height: auto;
    min-width: 100vw;
    color: white;
    background-repeat: no-repeat;
}

/* ======= Navbar Section ======= */


.nav {
    height: 50px;
    border-bottom: 1px solid rgb(160, 157, 157);
    font-size: 23px;
    width: 100%;
    font-family: 'poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    display: none;
}

.responsiveName {
    display: none;
    position: fixed;
    right: 0;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    z-index: 1;
}

#closeNav {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    display: none;
}

.nav h1 {
    margin-left: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}

.nav a i {
    margin-left: 5px;
}

.change-name {
    display: none;
}

.changeNameDisplayShow {
    display: inline;
}

/* ======= Main Content Section ======= */



.main-container {
    margin-top: 40px;
    margin-left: 30px;
}

.task-container {
    display: flex;
    gap: 23px;
}

/* ======= Task Input Container ======= */
.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 53%;
    background: rgb(41, 40, 40);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    flex-basis: 1;
    flex-direction: column;
}

.inp-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.input-container h1 {
    font-size: 41px;
}

#input-task {
    width: 85%;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.add {
    font-size: 19px;
    border: none;
    outline: none;
    background: linear-gradient(45deg, rgb(115, 80, 115), rgb(72, 72, 113));
    color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 3px rgb(0, 0, 0);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.add:active {
    transform: scale(0.95);
}

.responsive-add-btn {
    border-radius: 100%;
    color: transparent;
    background-image: url(images/add-btn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 27px;
    background-color: white;
    height: 50px;
    width: 50px;
    display: none;
    border: none;
    box-shadow: 0 2px 5px black;
}

/* ======= Task Completion Box ======= */
.task-board {
    font-size: 25px;
    width: 24%;
    background: rgb(41, 40, 40);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

/* ======= Task List Section ======= */
.container ul {
    margin-top: 15px;
    margin-left: 30px;
    background: rgb(41, 40, 40);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    width: 77%;
}

.container ul li {
    height: 30px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 12px;
    border-bottom: .5px solid rgb(69, 68, 68);
}

ul h1 {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

ul h1 i {
    font-size: 30px;
    margin-right: 20px;
}

.left-task {
    display: flex;
    align-items: center;
}

.left-task span {
    margin-left: 20px;
}

.left-task img.circle {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.delete {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.line-throw {
    text-decoration: line-through;
    color: grey;
    opacity: 0.6;
}

/* Hide container initially (until user enters name) */
.container {
    display: none;
}

/* ======= Name Input Page ======= */
.userIntroPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userInfoContainer {
    margin-top: 100px;
    height: 300px;
    width: 700px;
    text-align: center;
}

.userInfoContainer h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.name-input {
    height: 40px;
    width: 400px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 70px;
}

.continue {
    font-size: 25px;
    padding: 15px;
    border-radius: 10px;
    font-weight: 400;
    background: transparent;
    color: white;
    cursor: pointer;
}